@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Crimson Text", serif;
  font-weight: 400;
  font-style: normal;
  background-color: rgba(240, 242, 245, 0.096);
  color: #787575;
  }
html {
  font-size: 100%;
}
.list {
  list-style: none;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 10px;
}
.a {
  text-decoration: none;
}
img {
  max-width: 100%;
}


/*
mainvisual 
 */
#mainvisual img {
  padding: 60px 5% 30px;
}

/* 
header
*/
#header {
  display: flex;
  padding: 0 5%;
  margin-bottom: 60px;
}
#header .header-logo {
  width: 120px;
}
#header .header-list {
  display: flex;
  margin-left: 50px;
  font-size: 12px;
  align-items: center;
}
#header .header-list li:hover {
  opacity: 0.7;
}
#header .header-list li {
  margin-right: 20px; 
  list-style: none;  
}
#header .header-list a {
  text-decoration: none;
  color: #333;
}

/* 
main
*/
.content {
  display: flex;
  align-items: center;
  margin-bottom: 60px;
}
.content .img {
  width: 50%;
  box-shadow: 10px 5px 10px #333;
  /* box-shadow: 60px -16px teal; */
  /* box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2); */
  /* box-shadow: 3px 3px red, -1em 0 .4em olive; */
}
.content .text {
  width: 50%;
  padding: 0 7%;
}
.content .section-title {
  font-size: 24px;
  font-weight: normal;
  padding-bottom: 4px;
}
.content .section-title-en {
  display: inline-block;
  margin-bottom: 25px;
}

/* 
footer
*/
#footer {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}
#footer .footer-logo {
  width: 110px;
}
#footer p {
  font-size: 14px;
}



/* 
メディアクエリ
*/
@media screen and (max-width: 767px) {
  .container {
    padding: 0 20px;
  }
  .content .section-title {
    font-size: 18px;
  }
  .content .section-title-en {
    font-size: 16px;
  }
  #mainvisual {
    width: 100%;
    margin: 0;
  }
  #mainvisual img  {
    width: 100%;
    height: 50vh;
    object-fit: cover;
    padding: 0;
  }
  #header {
    width: 100%;
    padding: 20px 18px
  }
  #work {
    flex-direction: column-reverse;
  }
  .content {
    flex-direction: column;
  }
  .content .img {
    width: 100%;
    margin-bottom: 20px;
    box-shadow: 7px 2px 10px #333;
  }
  .content .text {
    width: 100%;
    padding: 0;
  }
}



